[submodule "tflite-micro"]
	path = tflite-micro
	url = https://github.com/tensorflow/tflite-micro.git
    ignore = dirty
[submodule "tensorflow-core"]
	path = tensorflow-core
	url = https://github.com/tensorflow/tensorflow
    ignore = dirty
[submodule "onnxruntime"]
	path = onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
    ignore = dirty
[submodule "tt-metal"]
	path = tt-metal
	url = https://github.com/tenstorrent/tt-metal.git
[submodule "whisper"]
	path = whisper
	url = https://github.com/tenstorrent/whisper.git
[submodule "ttsim"]
	path = ttsim
	url = https://github.com/tenstorrent/ttsim.git
